*,
*::after,
*::before {
    box-sizing: border-box; 
}

*:focus {
    outline: none;
}

html {
    font-size: 16px; 
}

body {
    font-size: 100%;
    font-family: sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;

    &:focus {
        outline: 0;
    }
}

iframe {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s;
    &:hover {
        text-decoration: underline;
    }
}

figure {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

ul, ol {
    padding-left: 1rem;
}

address {
    font-style: normal;
}

hr {
    margin: 1rem 0;
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid;
}
