label {
    display: block;

    span {
        text-transform: uppercase;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    width: 100%;
    font-family: inherit;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

input[type="submit"] {
    -webkit-appearance: none;
    -webkit-border-radius: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    background: black;
    color: #fff;
    transition: .3s;

    &:hover {
        opacity: .9;
    }
}

select {
    padding: .5rem;
}

textarea {
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-family: inherit;
}

.wpcf7-form {
    p {
        margin: 0;

        &:empty {
            display: none;
        }
    }

    br {
        display: none;
    }
}
