label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    font-size: inherit;
    width: 100%;
    font-family: inherit;
    border: none;
}

input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    background: black;
    transition: .3s;
}

select {
    padding: .5rem;
}

textarea {
    padding: .5rem;
    width: 100%;
    border: none;
    font-family: inherit;
}
